<%= turbo_frame_tag comment do %>
  <div style="border: 1px solid black; padding: 1em; margin-top: 2em">
  <strong><%= comment.user.email.split("@").first %></strong>
  <p><%= comment.body %></p>
  <%= comment.likes_count %> likes
  </div>
<% end %>
